<%- include('header') %>
  <form method="GET" action="/cotacao">
    <input name="cotacao" placeholder="Cotação dólar" value="<%= cotacao %>"><br>
    <input name="quantidade" placeholder="Quantidade de dólares"><br>
    <button><b>Converter</b></button>
  </form>
  <%- include('footer') %>