body{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 30px;
  font-family: Poppins, Lato, sans-serif;
}
h1 img{
  width: 240px;
  margin: 20px;

}
input{
  border: 1px solid  rgba(36, 37, 39, 0.2);
  padding: 10px;
  margin: 15px;
  border-radius: 2px;
  width: 170px;
}

button{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 0px solid;
  color: white;
  padding: 10px;
  margin: 15px;
  width: 170px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #5432cc , #7a7ada);
}

.result{
  border-radius: 10px;
  background-color: #ebebff;
  border: 0.5px solid #ccccff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 28px;
}